doctype
body
	head
		title Skeletor
		link(rel="stylesheet",href="bower_components/normalize-css/normalize.css")
		link(rel="stylesheet",href="css/style.css")
		script(src="bower_components/html5shiv/dist/html5shiv.min.js")
	body
		.content
			- for(i=0;i<=20;i++)
				div.item
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/script.js")